body{
    background-color: white;
}

.navi{
    position:sticky;
    top:0;
    width:100%;
}
img{
    width:100px;
    margin:10px 5px;

}
.navi ul{
    display:flex;
    margin:-20px -10px;
    background-color: black;
}
.navi ul li{
    list-style: none;
    padding:18px 20px;
    font-size: larger;

}
.navi ul li a{
    color:white;
    text-decoration: none;
    padding:3px 4px;
}
#fil{
    height:29px;
    border-radius:4px;
    margin:15px;
    width:150px
}
.navi ul li:hover{
    background-color: red;

}
.data{
    display:flex;
    margin:53px -5px;
    margin-right:-2px;
    height:200px;
    justify-content:center;
}
.hosp1{
    display:flex;
    flex-wrap: wrap;
    margin:53px -5px;
    margin-right:-2px;
    height:2000px;
    justify-content:center;
}

.ite{
    box-shadow: 2px 2px 6px orange;
    width:100px;
    height:100px;
    margin:10px;
    border-radius: 10px;
    padding:10px;
    font-size: large;
    text-align: center;
    text-shadow: 2px 2px 6px red;
    justify-content: center;
    line-height: 100px;
    background-color: orange;
    line-break: none;
    text-size-adjust: auto;
}
.hos{
    flex-direction: column;
    width:350px;
    height:350px;
    margin:10px;
    box-shadow: 2px 2px 6px green;
    border-radius: 10px;
    padding:10px;
    font-size: large;
    text-align: center;
    text-shadow: 2px 2px 6px red;
    justify-content: center;
    line-height: 100px;
    background-color: rgb(89, 143, 9);
    line-break: none;
    text-size-adjust: auto;
}

.go{
    height: 30px;
    width: 30px;
}
.state{
    position: absolute;
    top: 145px;
    left: 493px;
    border: 2px solid red;
    font-size: larger;
}
.prec{
    border: 2px solid red;
    display:flex;
    margin:53px -5px;
    margin-right:-2px;
    height:1000px;
    font-size: larger;
    padding: 20px;
}
h1{
    text-align: center;
}